/* .recipe-big-img-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(19, 19, 19, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.recipe-big-img{
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin: 0 auto;
    position: absolute;
    animation: slide-up 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

  
@keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
   */