.grid-loader {
    margin: 10px auto;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #227ea3; /* Blue */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    position: absolute;
    left: 50%;
    bottom: 65%;
    animation: spin 2s linear infinite;
  }
  
  .grid-loader-img{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    opacity: 40%;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }