.loader-container{
  position: absolute;
    left: 37%;
    bottom: 63%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.loader-container p{
  font-size: 1.1rem;
  letter-spacing: 1px;
}
.grid-loader {
    margin: 10px auto;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #227ea3; /* Blue */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
  }
  
  .grid-loader-img{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    opacity: 20%;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }